---
layout: default
title: Forrest Wyatt
---

{% for post in site.posts %}
    {% if forloop.first %}
        <a href="{{ post.url }}"><h1>{{ post.title }}</h1></a>
        {{ post.content }}
        {% if forloop.length > 1 %}
        <h2>Other recent posts:</h2>
        <p>
            <ul class="archives">
        {% endif %}
    {% elsif forloop.index <= 6 %}
        <li {% cycle '', 'class="even"' %}><span>{{ post.date | date_to_string }}</span> &mdash; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
    {% if forloop.last %}
        {% if forloop.length > 6 %}
            </ul>
        </p>
        <p>For more see the <a href="/archives.html">archives</a>.</p>
        {% endif %}
    {% endif %}
{% endfor %}

