<!doctype html>
<html lang="en"> 
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="author" content="Forrest Wyatt">
  <link rel="shortcut icon" href="/favicon.ico">
  <link href='//fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/style.min.css">
</head>
<body>
  <div id="container">
    <header>
        <div id="title">
            <a class="name" href="/">Forrest Wyatt</a>
        </div>
        <nav>
            <ul>
                <a href="/">Home</a>
                <a href="/archives.html">Archives</a>
                <a href="#">Feed</a>
            </ul>
        </nav>
    </header>
    <div id="main" role="main">
        {{ content }}
    </div>
    <footer>
        <div class="contact">
            <p>
                Forrest Wyatt<br />
                forrest@forrestwyatt.com
            </p>
        </div>
    </footer>
  </div> 

  <script>
    var _gaq=[["_setAccount","UA-22298383-1"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
  </script>

</body>
</html>
